<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title> Profile </title>

        <meta name="keywords" content="student, codecool, quest, coolcoins" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


        <link th:href="@{/student_template.css}" rel="stylesheet" />
        <script type="text/javascript" th:src="@{/scripts.js}"></script>
        <link rel="stylesheet" th:href="@{/fontello-2038ce78/css/fontello.css}" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="container">
            <div id="bar">
                <!--------------- MAIN BAR --------------->
                <div th:insert="fragments/mentor-fragments :: mainBar" ></div>
                <!--------------- LOW MENU --------------->
                <div th:insert="fragments/mentor-fragments :: lowMenu" ></div>
            </div>
            <!--------------- TOP BAR --------------->
            <div id="topbar" class="flex-container">
                <div id="topbarL" class="topbarL">
                    <i class="icon-user-secret"></i>
                </div>

                <div id="topbarR" >
                    <span class="bigtitle"> New student form </span>
                    <div style="height: 15px;"></div>
                    Here you can create new student account. Please provide all personal data!
                    Every new member receive 100 Coolcoins!
                </div>
            </div>

            <!--------------- MAIN CONTENT --------------->
            <div id="main-content" class="flex-container">
                <!--------------- SIDEBAR --------------->
                <div class="sidebar-div">
                    <div th:insert="fragments/mentor-fragments :: sidebar"></div>
                </div>

                <div id="content">
                    <span class="bigtitle">Add new student</span>
                    <div class="dottedline"></div>
                    <div id="editData">
                        <form action="#" th:action="@{/mentor/newstudent}" th:object="${studentGroupDataDto}" method="post">

                            <span class="lowmenu">First name</span>
                            <input type="text" name="first-name" th:field="*{firstName}" placeholder="First name"> </br>



                            <span class="lowmenu">Last name</span>
                            <input type="text" name="last-name" th:field="*{lastName}"  placeholder="First name"> </br>



                            <span class="lowmenu">E-mail</span>
                            <input type="email" name="email" th:field="*{email}" placeholder="E-mail"> </br>



                            <span class="lowmenu">Password</span>
                            <input type="password" name="password" th:field="*{password}"  placeholder="Password"></br>

<!--                            <input type="password" name="password" id="second-password-field" class="password-form-field" placeholder="Repeat password" style="text-align: left;"></br>-->

                            <span class="lowmenu">Group</span>
<!--                            <fieldset>-->
<!--                                <legend>Choose group</legend>-->
<!--                                <div th:each="group : ${session.mentor.groups}">-->
<!--                                    <input type="checkbox" id="group" name="group" value="group">-->
<!--                                    <label for="group"><div th:text="${group.groupName}"></div></label>-->
<!--                                </div>-->
<!--                            </fieldset>-->

                            <select th:field="*{groupId}">
                                    <tr th:each="group : ${session.mentor.groups}">
                                        <option th:value="${group.groupId}">
                                            <div th:text="${group.groupName}"></div>
                                        </option>
                                    </tr>
<!--                                <input type="hidden" name="group" th:field="*{groupId}">-->
                            </select></br>
<!--                                <input type="submit" th:value="View">-->

                            <input type="submit" th:onclick="addStudent()" name="Submit">
                        </form>

                    </div>

                </div>
            </div>

            <!-- FOOTER -->
            <div th:insert="fragments/mentor-fragments :: footer"></div>
        </div>
    </body>
</html>