<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8" />
	<title>Mentor_main_view</title>

	<meta name="keywords" content="mentor, student, codecool, quest, coolcoins" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link rel="stylesheet" th:href="@{/student_template.css}" >

	<link rel="stylesheet" href="fontello-2038ce78/css/fontello.css" type="text/css" />

	<link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>


</head>

<body>
	
	<div id="container">
		
		<div id="bar">


			<div th:insert="fragments/mentor-fragments :: mainBar"></div>

			<div th:insert="fragments/mentor-fragments :: lowMenu"></div>

			<div style="clear:both;"></div>	



		</div>
		
		<div id="topbar">
			<div id="topbarL">
				<i class="icon-graduation-cap"></i>
			</div>
			<div id="topbarR">
				<span class="bigtitle">Classes </span>
				<div style="height: 15px;"></div>
                Here you can check lists of classes with students. On the lef side you have option menu.
                You can choose action. Enjoy our app!
            </div>
			<div style="clear:both;"></div>
		</div>

		<div id="main_content">

			<div th:insert="fragments/mentor-fragments :: sidebar"></div>


		<div id="content">

			<span class="bigtitle">Classes </span>

			<div class="dottedline"></div>
			<br/>
			<div class="smalltitle">Web</div>
			<table id = "class_members_table">
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Contact</th>
					<th>Group</th>
					<th>Icon to edit group</th>
					<th> icon to edit student profile</th>
				</tr>
				<tr>
					<td>Krzysztof</td>
					<td>Chromiec</td>
					<td>+48 123 123 123</td>
					<td>Mars</td>
					<td>icon</td>
					<td>icon</td>

				</tr>
				<tr>
					<td>Krzysztof</td>
					<td>Chromiec</td>
					<td>+48 123 123 123</td>
					<td>Mars</td>
					<td>icon</td>
					<td>icon</td>

				</tr>
				<tr>
					<td>Krzysztof</td>
					<td>Chromiec</td>
					<td>+48 123 123 123</td>
					<td>Mars</td>
					<td>icon</td>
					<td>icon</td>

				</tr>

			</table>
			<br/>
			<br/>
			<div class="smalltitle">Python</div>
			<table id = "class_members_table">
				<tr>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>Contact</th>
					<th>Group</th>
					<th>Icon to edit group</th>
					<th> icon to edit student profile</th>
				</tr>
				<tr>
					<td>Krzysztof</td>
					<td>Chromiec</td>
					<td>+48 123 123 123</td>
					<td>Mars</td>
					<td>icon</td>
					<td>icon</td>

				</tr>
				<tr>
					<td>Krzysztof</td>
					<td>Chromiec</td>
					<td>+48 123 123 123</td>
					<td>Mars</td>
					<td>icon</td>
					<td>icon</td>

				</tr>
				<tr>
					<td>Krzysztof</td>
					<td>Chromiec</td>
					<td>+48 123 123 123</td>
					<td>Mars</td>
					<td>icon</td>
					<td>icon</td>

				</tr>

			</table>

			<div class="dottedline"></div>

			</div>
		</div>

		<div th:insert="fragments/mentor-fragments :: footer"></div>

	</div>
	
</body>
</html>