<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title> Profile </title>

        <meta name="keywords" content="student, codecool, quest, coolcoins" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link th:href="@{/student_template.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/fontello-2038ce78/css/fontello.css}" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="container">
            <div id="bar">
                <!--------------- MAIN BAR --------------->
                <div th:insert="fragments/mentor-fragments :: mainBar" ></div>
                <!--------------- LOW MENU --------------->
                <div th:insert="fragments/mentor-fragments :: lowMenu" ></div>
            </div>
            <!--------------- TOP BAR --------------->
            <div id="topbar" class="flex-container">
                <div id="topbarL" class="topbarL">
                    <i class="icon-user-secret"></i>
                </div>

                <div id="topbarR" >
                    <span class="bigtitle"> Level of experience update </span>
                    <div style="height: 15px;"></div>
                    XXXXXX
                    XXXXXX
                    XXXXXX
                    XXXXXX
                </div>
            </div>

            <!--------------- MAIN CONTENT --------------->
            <div id="main-content" class="flex-container">
                <!--------------- SIDEBAR --------------->
                <div class="sidebar-div">
                    <div th:insert="fragments/mentor-fragments :: sidebar"></div>
                </div>

                <div id="content">

                    <span class="bigtitle">Group </span>

                    <div class="dottedline"></div>
                    <br/>
                    <div class="smalltitle" >Mars</div>
                    <table id = "group_members_table">
                        <tr>
                            <th>Mentor</th>
                            <th>Przemek</th>
                            <th>coolcoins</th>
                            <th>1000</th>
                            <th>Edit group</th>
                            <th>Icon to edit group</th>
                        </tr>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Level</th>
                            <th>coolcoins</th>
                            <th>contact</th>
                            <th>Edit profile</th>
                        </tr>
                        <tr>
                            <td>Krzysztof</td>
                            <td>Chromiec</td>
                            <td>1</td>
                            <td>150</td>
                            <td>+48 123 123 123</td>
                            <td>icon</td>
                        </tr>
                        <tr>
                            <td>Krzysztof</td>
                            <td>Chromiec</td>
                            <td>1</td>
                            <td>150</td>
                            <td>+48 123 123 123</td>
                            <td>icon</td>
                        </tr>
                        <tr>
                            <td>Krzysztof</td>
                            <td>Chromiec</td>
                            <td>1</td>
                            <td>150</td>
                            <td>mail@gmail.com</td>
                            <td>icon</td>
                        </tr>
                        <tr>
                            <td>Krzysztof</td>
                            <td>Chromiec</td>
                            <td>1</td>
                            <td>150</td>
                            <td>mail@gmail.com</td>
                            <td>icon</td>
                        </tr>

                        <tr>
                            <td>Krzysztof</td>
                            <td>Chromiec</td>
                            <td>1</td>
                            <td>150</td>
                            <td>mail@gmail.com</td>
                            <td>icon</td>

                        </tr>

                        <tr>
                            <td>Krzysztof</td>
                            <td>Chromiec</td>
                            <td>1</td>
                            <td>150</td>
                            <td>mail@gmail.com</td>
                            <td>icon</td>
                        </tr>

                        <tr>
                            <td>Krzysztof</td>
                            <td>Chromiec</td>
                            <td>1</td>
                            <td>150</td>
                            <td>mail@gmail.com</td>
                            <td>icon</td>
                        </tr>

                    </div>
                </div>

            <!-- FOOTER -->
            <div th:insert="fragments/mentor-fragments :: footer"></div>
        </div>
    </body>
</html>