<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title> Profile </title>

        <meta name="keywords" content="student, codecool, quest, coolcoins" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link th:href="@{/student_template.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/fontello-2038ce78/css/fontello.css}" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
    <body>
        <div id="container">
            <div id="bar">
                <!--------------- MAIN BAR --------------->
                <div th:insert="fragments/mentor-fragments :: mainBar" ></div>
                <!--------------- LOW MENU --------------->
                <div th:insert="fragments/mentor-fragments :: lowMenu" ></div>
            </div>
            <!--------------- TOP BAR --------------->
            <div id="topbar" class="flex-container">
                <div id="topbarL" class="topbarL">
                    <i class="icon-user-secret"></i>
                </div>

                <div id="topbarR" >
                    <span class="bigtitle"> Student personal details </span>
                    <div style="height: 15px;"></div>
                    XXXXXX
                    XXXXXX
                    XXXXXX
                    XXXXXX
                </div>
            </div>

            <!--------------- MAIN CONTENT --------------->
            <div id="main-content" class="flex-container">
                <!--------------- SIDEBAR --------------->
                <div class="sidebar-div">
                    <div th:insert="fragments/mentor-fragments :: sidebar"></div>
                </div>

                <div id="content">

                    <span class="bigtitle">Student profile details</span>

                    <div class="dottedline"></div>

                    <div id="personalDetails">
                        <div id="firstname">
                            Firstname:
                            <span th:text="${student.firstName}"></span>
                        </div>

                        <div id="surname">
                            Surname:
                            <span th:text="${student.lastName}"></span>
                        </div>

                        <div id="mail">
                            Mail:
                            <span th:text="${student.email}"></span>
                        </div>

                        <div id="wallet">
                            Wallet:
                            <span th:text="${student.wallet}"></span>
                        </div>

                        <div id="totalCoinsEarned">
                            Total coins earned:
                            <span th:text="${student.totalCoinsEarned}"></span>
                        </div>

                        <div id="level">
                            Level:
                            <!--                    <span th:text="${student.totalCoinsEarned}"></span>-->
                        </div>

                        <div id="group">
                            Group:
                            <!--                    <span th:text="${student.totalCoinsEarned}"></span>-->

                        </div>
                        <button onclick="goBack()">Go Back</button>
                    </div>

                </div>
            </div>
            <!-- FOOTER -->
            <div th:insert="fragments/mentor-fragments :: footer"></div>
        </div>
    </body>
</html>