<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title> Profile </title>

        <meta name="keywords" content="student, codecool, quest, coolcoins" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link th:href="@{/student_template.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/fontello-2038ce78/css/fontello.css}" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="container">
            <div id="bar">
                <!--------------- MAIN BAR --------------->
                <div th:insert="fragments/mentor-fragments :: mainBar" ></div>
                <!--------------- LOW MENU --------------->
                <div th:insert="fragments/mentor-fragments :: lowMenu" ></div>
            </div>
            <!--------------- TOP BAR --------------->
            <div id="topbar" class="flex-container">
                <div id="topbarL" class="topbarL">
                    <i class="icon-user-secret"></i>
                </div>

                <div id="topbarR" >
                    <span class="bigtitle"> Quests list </span>
                    <div style="height: 15px;"></div>
                    XXXXXX
                    XXXXXX
                    XXXXXX
                    XXXXXX
                </div>
            </div>

            <!--------------- MAIN CONTENT --------------->
            <div id="main-content" class="flex-container">
                <!--------------- SIDEBAR --------------->
                <div class="sidebar-div">
                    <div th:insert="fragments/mentor-fragments :: sidebar"></div>
                </div>

                <div id="content">
                    <span class="bigtitle"> INDIVIDUAL QUESTS </span>
                    <div class="dottedline"></div> <br/>
                    <table id = "individual_quests_table">
                        <tr>
                            <td class="tableTitle"> Quest description </td>
                            <td class="tableTitle"> Value </td>
                        </tr>

                        <tr th:each="quest : ${individualQuests}">
                            <td><span th:text="${quest.questDescription}"> </span></td>
                            <td><span th:text="${quest.questValue}"> </span></td>
                            <td><a th:href="@{/mentor/edit-quest/{id}(id=${quest.id})}" class="btn">Edit</a></td>
                            <td><a th:href="@{/mentor/delete-quest/{id}(id=${quest.id})}" class="btn">Delete</a></td>
                        </tr>

                    </table>
                    <br/> <br/>

                    <span class="bigtitle"> GROUP QUESTS </span>
                    <div class="dottedline"></div> <br/>
                    <table id = "group_achievements_table">
                        <tr>
                            <td class="tableTitle"> Quest description </td>
                            <td class="tableTitle"> Value </td>
                        </tr>

                        <tr th:each="quest : ${groupQuests}">
                            <td><span th:text="${quest.questDescription}"> </span></td>
                            <td><span th:text="${quest.questValue}"> </span></td>
                            <td><a th:href="@{/mentor/edit-quest/{id}(id=${quest.id})}"  class="btn">Edit</a></td>
                            <td><a th:href="@{/mentor/delete-quest/{id}(id=${quest.id})}" class="btn">Delete</a></td>
                        </tr>
                    </table>
                    <br/> <br/>
                </div>
            </div>

            <!-- FOOTER -->
            <div th:insert="fragments/mentor-fragments :: footer"></div>
        </div>
    </body>
</html>