<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title> Profile </title>

        <meta name="keywords" content="student, codecool, quest, coolcoins" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link th:href="@{/student_template.css}" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/fontello-2038ce78/css/fontello.css}" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="container">
            <div id="bar">
                <!--------------- MAIN BAR --------------->
                <div th:insert="fragments/mentor-fragments :: mainBar" ></div>
                <!--------------- LOW MENU --------------->
                <div th:insert="fragments/mentor-fragments :: lowMenu" ></div>
            </div>
            <!--------------- TOP BAR --------------->
            <div id="topbar" class="flex-container">
                <div id="topbarL" class="topbarL">
                    <i class="icon-user-secret"></i>
                </div>

                <div id="topbarR" >
                    <span class="bigtitle"> Students </span>
                    <div style="height: 15px;"></div>
                    Here you can check students personal data or modify them if something went wrong during registration.
                    Choose one student and see more!
                </div>
            </div>

            <!--------------- MAIN CONTENT --------------->
            <div id="main-content" class="flex-container">
                <!--------------- SIDEBAR --------------->
                <div class="sidebar-div">
                    <div th:insert="fragments/mentor-fragments :: sidebar"></div>
                </div>

                <div id="content">

                    <span class="bigtitle">Students</span>

                    <div class="dottedline"></div>

                    <br/>
                    <table id = "group_members_table">

<!--                        <tr th:each="group : ${#lists.sort(session.mentor.groups)}">-->
<!--                            <td<span th:text="${group.groupName}"></span></td>-->
                        <tr>
                            <td class="tableTitle">Student no.</td>
                            <td class="tableTitle">First name</td>
                            <td class="tableTitle">Last name</td>
                        </tr>
                        <tr th:each="student : ${studentsList}" >
                            <td><span th:text="${student.userId}"> </span></td>
                            <td ><span th:text="${student.firstName}"> </span></td>
                            <td><span th:text="${student.lastName}"> </span></td>
                            <td><a th:href="@{/mentor/one-student/{userId}(userId=${student.userId})}" class="btn">View</a></td>
                            <td><a th:href="@{/mentor/edit-student/{userId}(userId=${student.userId})}" class="btn">Edit</a></td>
                            <td><a th:href="@{/mentor/delete-student/{userId}(userId=${student.userId})}" class="btn">Delete</a></td>
                        </tr>
                        </tr>
<!--                        th:if="*{student.accountType.id} == 1-->
                    </table>
                    <br/>
                    <br/>


<!--wersja z listą rozwijaną-->
<!--                    <form action="#" th:action="@{/mentor/one-student/{userId}(userId=1)}" method="get">-->
<!--                        <select th:field="*{userId}" name="studentId">-->
<!--                            <tr th:each="group : ${session.mentor.groups}">-->
<!--                                <optgroup th:label="${group.groupName}"/>-->
<!--                                    <div th:each="student : ${group.users}" th:if="*{student.accountType.id} == 1">-->
<!--                                        <option th:value="${student.userId}">-->
<!--                                            <div th:text="${student.firstName}"></div>-->
<!--                                            <div th:text="${student.lastName}"></div>-->
<!--                                        </option>-->
<!--                                    </div>-->
<!--                                </optgroup>-->
<!--                            </tr>-->
<!--                        </select>-->
<!--                        <input type="submit" th:value="View">-->
<!--&lt;!&ndash;                        <a th:href="@{/mentor/one-student/{userId}(userId=${student.userId})}" class="btn">View</a>&ndash;&gt;-->
<!--                        <br><br>-->
<!--                        <td><a th:href="@{/mentor/one-student/{userId}(userId=${student.userId})}" class="btn">View</a></td>-->
<!--                        <input type="submit" value="View">-->
                    </form>


                </div>
            </div>
            <!-- FOOTER -->
            <div th:insert="fragments/mentor-fragments :: footer"></div>
        </div>
    </body>
</html>