<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentor_main_view</title>
    <meta name="keywords" content="mentor, codecool, quest, coolcoins" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--	<link rel="stylesheet" th:href="@{/student_template.css}" >-->

    <link rel="stylesheet" href="fontello-2038ce78/css/fontello.css" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
<div id="container">

    <div id="bar">

        <div th:fragment="mainBar" id="mainBar">
            <div class="logoL">QUEST</div>
            <div class="logoC">
                <i class="icon-rocket"></i>
            </div>
            <div class="logoR">STORE</div>
            <div style="clear:both;"></div>
        </div>

        <div th:fragment="lowMenu" id="lowMenu">

            <div class="lowMenu1">
                <div class="option"> <span th:text="${session.mentor.firstName}"/> </div>
            </div>

            <div class="lowMenu2">
                <div class="option"> <span th:text="${session.mentor.lastName}"/> </div>
            </div>
            <div class="lowMenu3">
                <div class="option">  Groups: <!--<span th:text="${count}"/>--> </div>
            </div>
            <div class="lowMenu4">
                <a class="option" href="#" th:href="@{/logout}"><i class="icon-logout"></i></a>
            </div>

        </div>
        <div style="clear:both;"></div>


    <div id="main_content">

        <div th:fragment="sidebar" id="sidebar">

            <div class="optionL"><a th:href="@{/mentor}"> Your Profile </a></div>


            <div class="optionL"><a th:href="@{/classes}"> Classes </a></div>

            <div class="optionL"><a th:href="@{/groups}"> Groups </a></div>



            <ul>
                <li>
                    <input type="checkbox" id="list-item-1">
                    <label for="list-item-1" class="first">
                        <div class="optionL">Shop</div>
                    </label>
                    <ul>
                        <li><a th:href="@{/shop-individual}"> Individual </a></li>
                        <li><a th:href="@{/shop-group}"> Group </a></li>
                        <li><a th:href="@{/shop-class}"> Class </a></li>
                    </ul>
            </ul>

            <div class="optionL"><a th:href="@{/quests}"> Quests </a></div>
            <div class="optionL"><a th:href="@{/newstudent}"> Add Student</a></div>

        </div>

        <div id="content">
            <span class="bigtitle">Title?</span>

            <div class="dottedline"></div>

            Content

        </div>
    </div>
    <div th:fragment="footer" id="footer">
        To contact responsible person sent mail to queststore@gmail.com  QUESTSTORE form 2020r. &copy;
    </div>

</div>

</body>
</html>