<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8" />
	<title>Student_main_view </title>

	<meta name="keywords" content="student, codecool, quest, coolcoins" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<script type="text/javascript" th:src="@{/scripts.js}" defer></script>
<!--	<link th:href="@{/student_template.css}" rel="stylesheet" />-->

	<link rel="stylesheet" href="fontello-2038ce78/css/fontello.css" type="text/css" />

	<link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

	<div id="container">

		<div id="bar">
			<!--------------MAIN BAR--------------->
			<div th:fragment="mainBar" id="mainBar" class="flex-container">
<!--				<div class="logoL">QUEST</div>-->

				<div class="logoC">
					QUEST<i class="icon-rocket"></i>STORE
				</div>

<!--				<div class="logoR">STORE</div>-->
			</div>

			<!--------------LOW BAR--------------->
			<div th:fragment="lowMenu" id="lowMenu" class="flex-container">
				<div id="actualtime" class="option">

				</div>
				<div class="option">
					<span th:text="${session.student.firstName}"/>
					<span th:text="${session.student.lastName}"/>
				</div>

				<div class="option">
					<i class="icon-cc"></i> Your: <span th:text="${session.student.wallet}"/>
				  Total coins:	<span th:text="${session.student.totalCoinsEarned}"/>
				</div>

				<div id="icons">
					<div class="option"><i class="icon-star">
						</i> <span th:text="${session.level.levelId}"/>
					</div>

					<div>
						<a class="option" href="#" th:href="@{/logout}"><i class="icon-logout"></i></a>
					</div>
				</div>

			</div>
		</div>

		<!--------------TOP BAR--------------->
		<!--		DEFINED  IN MASTER HTML-->

		<!--------------DIV MAIN CONTENT--------------->
		<!--		DEFINED  IN MASTER HTML-->

			<!-------------- SIDE BAR--------------->
			<div th:fragment="sidebar" id="sidebar" class="sidebar">

				<div class="optionL"><a th:href="@{/student/profile}"> Profile </a></div>
				<div class="optionL"><a th:href="@{/student/group}"> Group </a></div>
				<div class="optionL"><a th:href="@{/student/achievements}"> Achievements </a></div>

				<ul>
					<li>
					  <input type="checkbox" id="list-item-1">
					  <label for="list-item-1" class="first">
						<div class="optionL">Shop</div>
					  </label>
					  <ul>
						<li><a th:href="@{/student/shop-individual}"> Individual items </a></li>
						<li><a th:href="@{/student/shop-group}"> Group items </a></li>
						<li><a th:href="@{/student/shop-group-shopping}"> Group shopping </a></li>
					  </ul>
				</ul>

				<div class="optionL"><a th:href="@{/student/transactions}"> Your items </a></div>
				<div class="optionL"><a th:href="@{/student/quests}"> Quests </a></div>
				<div class="optionL" title="level of experience"><a th:href="@{/student/experience}"> L.O.E. </a></div>

			</div>

		<!--------------CONTENT--------------->
		<!--		DEFINDE  IN MASTER HTML-->

		<!--------------FOOTER--------------->
		<div th:fragment="footer" id="footer">
			QUEST <i class="icon-rocket"></i> STORE ©
			<br>
			<i class="icon-star"></i> Bartosz Jakimko <i class="icon-star"></i> Krzysztof Chromiec <i class="icon-star"></i> Jakub Chorążyk <i class="icon-star"></i> Andrzej Kiełbowicz
			<br>
			Codecool 2020
			<br>
			<br>
			In case of any queries don't hesitate and contact us: support@queststore.com
		</div>

	</div>

</body>
</html>