<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Guestbook Records</title>
    </head>

    <body>
        <div class="container">

            <div class="main-header">
                <h1> QUESTS </h1>
            </div>

            <div class="guestbook-data">
                <table class="guestbook-table" th:each="quest : ${quests}">
                    <div class="single-record">
                        <tr>
                            <td class="id" th:text="'QUEST NUMBER: ' + ${quest.questType}"></td>
                        </tr>
                        <tr>
                            <td class="name" th:text="'DESCRIPTION: ' + ${quest.questDescription}"></td>
                        </tr>
                        <tr>
                            <td class="message" th:text="'VALUE: ' + ${quest.questValue}"></td>
                        </tr>
                    </div>
                </table>

                <table class="level-table" th:each="level : ${levels}">
                    <div class="single-record">
                        <tr>
                            <td class="id" th:text="'QUEST NUMBER: ' + ${level.levelId}"></td>
                        </tr>
                        <tr>
                            <td class="name" th:text="'DESCRIPTION: ' + ${level.levelName}"></td>
                        </tr>
                        <tr>
                            <td class="message" th:text="'VALUE: ' + ${level.coolcoinsRequired}"></td>
                        </tr>

                        <tr>
                            <td class="message" th:text="'VALUE: ' + ${level.iconName}"></td>
                        </tr>
                    </div>
                </table>

                <div class="student-level">
                    <tr>
                        <td class="id" th:text="'Your level ID: ' + ${level.levelId}"></td>
                    </tr>

                    <tr>
                        <td class="id" th:text="'Your level : ' + ${level.coolcoinsRequired}"></td>
                    </tr>
                </div>

            </div>
        </div>
    </body>
</html>