<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title> Profile </title>

		<meta name="keywords" content="student, codecool, quest, coolcoins" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<link th:href="@{/student_template.css}" rel="stylesheet" />
		<script type="text/javascript" th:src="@{/scripts.js}"></script>
		<link rel="stylesheet" th:href="@{/fontello-2038ce78/css/fontello.css}" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="container">
			<div id="bar">
				<!--------------- MAIN BAR --------------->
				<div th:insert="fragments/student-fragments :: mainBar" ></div>
				<!--------------- LOW MENU --------------->
				<div th:insert="fragments/student-fragments :: lowMenu" ></div>
			</div>
			<!--------------- TOP BAR --------------->
			<div id="topbar" class="flex-container">
				<div id="topbarL" class="topbarL">
					<i class="icon-graduation-cap"></i>
				</div>

				<div id="topbarR" >
					<span class="bigtitle"> Student's profile </span>
					<div style="height: 15px;"></div>
					Here you can check your presonal data or modify them if something went wrong during registration.
					On the lef side you have option menu. Enjoy our app!
				</div>
			</div>

			<!--------------- MAIN CONTENT --------------->
			<div id="main-content" class="flex-container">
				<!--------------- SIDEBAR --------------->
				<div class="sidebar-div">
					<div th:insert="fragments/student-fragments :: sidebar"></div>
				</div>

				<div id="content">
					<span class="bigtitle">Profile details</span>
					<div class="dottedline"></div>
					<div id="personalDetails">
						<div id="firstname"> Firstname: <span th:text="${session.student.firstName}"/> </div>
						<div id="surname"> Surname: <span th:text="${session.student.lastName}"/> </div>
						<div id="mail"> Mail: <span th:text="${session.student.email}"/> </div>
					</div>

					<br><br/>

					<span class="bigtitle">Edit personal data</span>
					<div class="dottedline"></div>
					<div id="editData">

						<span class="lowmenu">Change password</span>

						<form id="password-form" action="#" name="password-form" th:action="@{/student/profile}" th:object="${studentDataDto}" method="post">

							<input type="password" name="password" id="old-password-field" class="password-form-field" placeholder="Old password"> </br>
							<input type="password" name="password" th:field="*{newPassword}" id="first-password-field"  class="password-form-field" placeholder="New password">
							<input type="password" name="password" id="second-password-field" class="password-form-field" placeholder="New password" style="text-align: left;"></br>
							<button id="edit-password" type="button" th:onclick="changePassword([[${session.student.password}]])">Submit</button>

						</form>

						</br></br>
						<span class="lowmenu">Change e-mail</span>

						<form id="email-form" action="#" name="email-form" th:action="@{/student/profile}" th:object="${studentDataDto}" method="post">

							<input type="email" name="email" id="old-email-field" class="old-email-field" placeholder="Old mail"> </br>
							<input type="email" name="email" th:field="*{newEmail}" id="first-email-field"  class="first-email-field" placeholder="New mail">
							<input type="email" name="email" id="second-email-field" class="second-email-field" placeholder="New mail confirm" style="text-align: left;"></br>
							<button id="edit-email" type="button" th:onclick="changeEmail([[${session.student.email}]])">Submit</button>

						</form>

						</br></br>

					</div>
				</div>
			</div>

			<!-- FOOTER -->
			<div th:insert="fragments/student-fragments :: footer"></div>
		</div>
	</body>
</html>