<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title> Bought items </title>

		<meta name="keywords" content="student, codecool, quest, coolcoins" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<link th:href="@{/student_template.css}" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/fontello-2038ce78/css/fontello.css}" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div id="container">
			<div id="bar">
				<!--------------- MAIN BAR --------------->
				<div th:insert="fragments/student-fragments :: mainBar" ></div>
				<!--------------- LOW MENU --------------->
				<div th:insert="fragments/student-fragments :: lowMenu" ></div>
			</div>
			<!--------------- TOP BAR --------------->
			<div id="topbar" class="flex-container">
				<div id="topbarL" class="topbarL">
					<i class="icon-graduation-cap"></i>
				</div>

				<div id="topbarR" >
					<span class="bigtitle"> Bought items </span>
					<div style="height: 15px;"></div>
					If you have purchased individual or group items, you will find a list of them here.
					Group items are used at the time of purchase.
					The use of individual items is possible by clicking on the 'USE' button.
				</div>
			</div>

			<!--------------- MAIN CONTENT --------------->
			<div id="main-content" class="flex-container">
				<!--------------- SIDEBAR --------------->
				<div class="sidebar-div">
					<div th:insert="fragments/student-fragments :: sidebar"></div>
				</div>

				<div id="content">
					<span class="bigtitle"> INDIVIDUAL TRANSACTIONS LIST </span>
					<div class="dottedline"></div> <br/>
					<table id = "individual_transactions_table">
						<tr>
							<td class="tableTitle"> Name </td>
							<td class="tableTitle"> Description </td>
							<td class="tableTitle"> Price </td>
							<td class="tableTitle"> Status </td>
						</tr>

						<tr th:each="transaction : ${individualTransactions}">
							<td><span th:text="${transaction.itemName}"> </span></td>
							<td><span th:text="${transaction.itemDescription}"> </span></td>
							<td><span th:text="${transaction.itemCost}"> </span></td>
							<td>

								<span th:if="${transaction.isUsed} == true">
									<p>USED</p>
								</span>
								<span th:if="${transaction.isUsed} == false">
<!--									<div th:with="transactionToUpdate=${transaction}"></div>-->
									<form action="post"
										th:action="@{/student/transactions}"
										th:object="${transactionDto}"
										th:name="transactionDto"
										method="post">
									<input type="hidden" th:value="${transaction.id}" id="id" name="id" />
										<input type="submit" value="USE ITEM"/>
									</form>
								</span>

							</td>
						</tr>
					</table>
					<br/><br/>

					<span class="bigtitle"> GROUP TRANSACTIONS LIST </span>
					<div class="dottedline"></div> <br/>
					<table id = "group_achievements_table">
						<tr>
							<td class="tableTitle"> Name </td>
							<td class="tableTitle"> Description </td>
							<td class="tableTitle"> Price </td>
						</tr>

						<tr th:each="item : ${groupTransactions}">
							<td><span th:text="${item.itemName}"> </span></td>
							<td><span th:text="${item.itemDescription}"> </span></td>
							<td><span th:text="${item.itemCost}"> </span></td>
						</tr>
					</table>
					<br/> <br/>
				</div>
			</div>

			<!-- FOOTER -->
			<div th:insert="fragments/student-fragments :: footer"></div>
		</div>
	</body>
</html>