<!DOCTYPE HTML>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Student_main_view </title>
	
	<meta name="keywords" content="student, codecool, quest, coolcoins" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link th:href="@{/student_template.css}" rel="stylesheet" />
	
	<link rel="stylesheet" href="fontello-2038ce78/css/fontello.css" type="text/css" />
	
	<link href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
	
	<div id="container">
		
		<div id="bar">

			<div th:insert="fragments/mentor-fragments :: mainBar"></div>


			<div th:insert="fragments/mentor-fragments :: lowMenu"></div>

			<div style="clear:both;"></div>	



		</div>
		
		<div id="topbar">
			<div id="topbarL">
				<i class="icon-graduation-cap"></i>
			</div>
			<div id="topbarR">
				<span class="bigtitle">Welcome to Your Profile Side Details  </span>
				<div style="height: 15px;"></div>
                Here you can check your presonal data or modify them if something went wrong. On the lef side you have option menu. 
                You can choose action. Enjoy our app!
            </div>
			<div style="clear:both;"></div>
		</div>

		<div id="main_content">

			<div th:insert="fragments/mentor-fragments :: sidebar"></div>


		<div id="content">
			<span class="bigtitle">All transactions</span>
			<br>
			<br>
			<div class="content">Listed all individual, group and class transactions</div>
			<div class="dottedline"></div>
			<br>
			<table id = "individual_items_table">
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Type</th>
					<th>Price</th>
				</tr>
				<tr>
					<td>1</td>
					<td>WORKSHOP</td>
					<td>CLASS</td>
					<td>1000 cc</td>
				</tr>
				<tr>
					<td>2</td>
					<td>BACKUP</td>
					<td>GROUP</td>
					<td>1000 cc</td>
				</tr>
				<tr>
					<td>3</td>
					<td>VIP</td>
					<td>INDIVIDUAL</td>
					<td>50 cc</td>
				</tr>
			</table>
			<br/>
			<br/>

			</div>
		</div>

		<div th:insert="fragments/mentor-fragments :: footer"></div>

	</div>
	
</body>
</html>